
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>奥德科技开发公司官网</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <meta name="keywords" content="" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Custom Theme files -->
    <link href="/static/web/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="/static/web/css/style.css" type="text/css" rel="stylesheet" media="all">
	<!-- Testimonials-Css -->
	<link rel="stylesheet" href="/static/web/css/owl.theme.css" type="text/css" media="all">
	<link rel="stylesheet" href="/static/web/css/owl.carousel.css" type="text/css" media="screen" property="" />
    <!-- font-awesome icons -->
    <link href="/static/web/css/fontawesome-all.min.css" rel="stylesheet">
	<!-- //Custom Theme files -->
    <!-- online-fonts -->
	<link href="http://fonts.googleapis.com/css?family=Roboto:100i,400,500,700" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800" rel="stylesheet">
	<!-- //online-fonts -->
</head>

<body>
    <!-- banner -->
    <div class="banner">
        <!-- header -->
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-gradient-secondary pt-3">
               <h1><a class="navbar-brand" href="/aode/index">奥德科技
							<span>奥德科技开发公司</span>
						</a></h1>

                <button class="navbar-toggler ml-md-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
								<li class="nav-item active">
									<a class="nav-link" href="/aode/index">主页
										<span class="sr-only">(current)</span>
									</a>
								</li>
								<!--<li class="nav-item mx-xl-4 mx-lg-3 my-lg-0 my-3">-->
									<!--<a class="nav-link" href="about.html">关于我们</a>-->
								<!--</li>-->
								<li class="nav-item dropdown mx-xl-4 mx-lg-3 my-lg-0 my-3">
									<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
									    aria-expanded="false">
										了解我们
									</a>
									<div class="dropdown-menu" aria-labelledby="navbarDropdown">
										<a class="dropdown-item" href="/aode/about">关于我们</a>
										<!--<a class="dropdown-item" href="typo.html">Typography</a>-->
										<div class="dropdown-divider"></div>
										<a class="dropdown-item" href="/aode/gallery">项目图片</a>
										
									</div>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/aode/contact">加入我们</a>
								</li>
					</ul>
				</div>
			</nav>
        </header>
        <!-- //header -->
        <div class="container">
            <!-- banner-text -->
            <div class="banner-text">
                <div class="slider-info">
                    <h3>逆境<span>成长 </span>困境<span>学习 </span></h3>
					<a href="/aode/about" class="banner-button btn mt-md-5 mt-4">知道更多</a>
				</div>
            </div>
        </div>
    </div>
	 <!-- //banner-text -->
	 <!--banner form-->
	<section class="banner_form py-5">
		<div class="container py-lg-3">
			<div class="row ban_form">
				<div class="col-lg-8 bg-white fom-left">
					<div class="categories_sub cats1">
						<h2 class="heading-agileinfo"> 欢迎来到 <span> 奥德科技</span></h2>
						<p class="vam">广东东软学院sovo首批成立的虚拟公司之一，专注于IT技术领域，拥有技术实力强大的技术部门，以及管理策划能力强大的行政部门。</p></div>
				</div>
				<div class="col-lg-4 reg-fom">
					<h4 class="text-white text-center">查询录取结果</h4>
						<form action="#" method="post">
							<div class="reg-fom-btm mt-5">
								<div class="fields">
									<span class="text-white mb-2">查询的姓名</span>
									<input type="text" class="form-control" value="姓名">
								</div>
							</div>
							<div class="reg-fom-btm mt-3">
								<div class="fields">
									<span class="text-white mb-2">查询的电话号码</span>
									<input type="text" class="form-control" value="电话号码">
								</div>
							</div>
							<div class="reg-fom-btm mt-3">
								<div class="fields">
									<span class="text-white mb-2">查询部门</span>
									<select class="form-control">
										<option>Java部门</option>
										<option>.Net部门</option>
										<option>PHP部门</option>
										<option>美工部门</option>
										<option>行政部门</option>
									</select>
								</div>
							</div>
							<div class="reg-fom-btm mt-3">
								<input type="submit" value="查询">
							</div>
						</form>
				</div>
			</div>
		</div>
	</section>
	<!--//banner form-->
	  <!-- /services -->
    <section class="banner-bottom-wthree py-lg-5 py-md-5 py-3">
        <div class="container">
            <div class="inner-sec-w3ls py-lg-5 py-3">
               <h3 class="heading-agileinfo text-center">我们的服务  <span>  提供快捷而优秀的定制服务</span></h3>
                <div class="row middle-grids mt-md-5 pt-4">
                    <div class="col-lg-3 about-in-w3ls middle-grid-info text-center">
                        <div class="card">
                            <div class="card-body">
                                <i class="fas fa-graduation-cap mb-2"></i>
                                <h5 class="card-title text-uppercase my-3">
									网站定制</h5>
                                <p class="card-text">提供个人网站，公司官网，门户网站，网上商城等类型网站开发
                                </p>
                            </div>
                        </div>
                    </div>
					<div class="col-lg-3 about-in-w3ls middle-grid-info text-center">
						<div class="card">
							<div class="card-body">
								<i class="fas fa-graduation-cap mb-2"></i>
								<h5 class="card-title text-uppercase my-3">
									系统定制</h5>
								<p class="card-text">提供各种后台管理系统开发，包括OA办公系统，教务管理系统等等
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 about-in-w3ls middle-grid-info text-center">
						<div class="card">
							<div class="card-body">
								<i class="fas fa-graduation-cap mb-2"></i>
								<h5 class="card-title text-uppercase my-3">
									App定制</h5>
								<p class="card-text">提供各种手机app应用开发，手机网站开发以及微信应用开发
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 about-in-w3ls middle-grid-info text-center">
						<div class="card">
							<div class="card-body">
								<i class="fas fa-graduation-cap mb-2"></i>
								<h5 class="card-title text-uppercase my-3">
									UI设计</h5>
								<p class="card-text">提供图标设计，效果图设计以及画册设计等.　　　　　　　　
								</p>
							</div>
						</div>
					</div>
                    <!--<div class="col-lg-3 about-in-w3ls middle-grid-info active text-center">-->
                        <!--<div class="card">-->
                            <!--<div class="card-body">-->
                                <!--<i class="fas fa-book mb-2"></i>-->
                                <!--<h5 class="card-title text-uppercase my-3">系统定制</h5>-->
                                <!--<p class="card-text">提供各种后台管理系统开发，包括OA办公系统，ERP系统，教务管理系统等等-->
                                <!--</p>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-lg-3 about-in-w3ls middle-grid-info text-center">-->
                        <!--<div class="card">-->
                            <!--<div class="card-body">-->
                                <!--<i class="fas fa-globe mb-2"></i>-->
                                <!--<h5 class="card-title text-uppercase my-3">App定制</h5>-->
                                <!--<p class="card-text">提供各种手机app应用开发，手机网站开发以及微信应用开发-->
                                <!--</p>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
					<!--<div class="col-lg-3 about-in-w3ls middle-grid-info text-center">-->
						<!--<div class="card">-->
							<!--<div class="card-body">-->
								<!--<i class="fas fa-globe mb-2"></i>-->
								<!--<h5 class="card-title text-uppercase my-3">UI设计</h5>-->
								<!--<p class="card-text">提供图标设计，效果图设计以及画册设计等.-->
								<!--</p>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->
                </div>
            </div>
        </div>
    </section>
    <!-- //services -->
	<!-- feedback -->
	<section class="news py-5">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="heading-agileinfo text-white text-center">部门 <span> 概述</span></h3>
			<div class="owl-carousel owl-theme mt-md-5 pt-4">

				<div class="item">
					<div class="feedback-info bg-white py-5 px-4">
						<h4 class="mb-2">Java部
						</h4>
						<p>技术部门.</p>
						<div class="feedback-grids mt-4">
							<div class="feedback-img">
								<img src="/static/web/images/te1.jpg" class="img-fluid rounded-circle" alt="" />
							</div>
							<div class="feedback-img-info">
								<h5>Java</h5>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="feedback-info bg-white py-5 px-4">
						<h4 class="mb-2">.Net部
						</h4>
						<p>技术部门.</p>
						<div class="feedback-grids mt-4">
							<div class="feedback-img">
								<img src="/static/web/images/te1.jpg" class="img-fluid rounded-circle" alt="" />
							</div>
							<div class="feedback-img-info">
								<h5>.Net</h5>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="feedback-info bg-white py-5 px-4">
						<h4 class="mb-2">PHP部
						</h4>
						<p>技术部门.</p>
						<div class="feedback-grids mt-4">
							<div class="feedback-img">
								<img src="/static/web/images/te1.jpg" class="img-fluid rounded-circle" alt="" />
							</div>
							<div class="feedback-img-info">
								<h5>PHP</h5>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="feedback-info bg-white py-5 px-4">
						<h4 class="mb-2">美工部
						</h4>
						<p>技术部门.</p>
						<div class="feedback-grids mt-4">
							<div class="feedback-img">
								<img src="/static/web/images/te1.jpg" class="img-fluid rounded-circle" alt="" />
							</div>
							<div class="feedback-img-info">
								<h5>美工</h5>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="feedback-info bg-white py-5 px-4">
						<h4 class="mb-2">行政部
						</h4>
						<p>行政部门.</p>
						<div class="feedback-grids mt-4">
							<div class="feedback-img">
								<img src="/static/web/images/te1.jpg" class="img-fluid rounded-circle" alt="" />
							</div>
							<div class="feedback-img-info">
								<h5>行政</h5>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- //feedback -->
<!-- //stats -->
<!--/newsletter-->
    <footer class="newsletter_right pymd-5 py-4" id="footer">
        <div class="container">
            <div class="inner-sec py-md-5 py-3">
                <div class="row mb-md-4 mb-md-3">
					<div class="col-lg-3 col-md-6 social-info text-left">
                       <h3 class="tittle1 foot mb-md-5 mb-4 text-white">联系方式</h3>
						<p>0926k 4th block building,king Avenue, </p>
						<p class="my-2"> New York City,USA</p>
						<p class="phone">phone: +0444 555 6789</p>
						<p class="phone my-2">Fax: +0444 555 6789</p>
						<p class="phone">Mail:
							<a href="mailto:info@example.com">info@example.com</a>
						</p>

                    </div>
					<div class="col-lg-3 col-md-6 social-info text-left">
					 <h3 class="tittle1 foot mb-md-5 mb-4 text-white">纳新Q群</h3>
                       <p>Curabitur non nulla sit amet nislinit tempus convallis quis ac lectus. lac inia eget consectetur sed, convallis at tellus.
						Nulla porttitor accumsana tincidunt. Vestibulum ante ipsum primis tempus convallis.</p>

                    </div>
                    <div class="col-lg-6 col-md-12 n-right tex-left">
                        <h3 class="tittle1 foot mb-md-5 mb-4 text-white">LOGO</h3>
                        <form action="#" method="post">
                            <div class="form-group d-flex">
                                <input class="form-control" type="email" name="Email" placeholder=" Email Address" required="">
                                <input class="form-control submit text-uppercase" type="submit" value="Subscribe">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--//newsletter-->

<!-- js -->
    <script src="/static/web/js/jquery-2.2.3.min.js"></script>
<!-- //js -->
<!-- carousel(for feedback) -->
	<script src="/static/web/js/owl.carousel.js"></script>
	<script>
		$(document).ready(function () {
			$('.owl-carousel').owlCarousel({
				loop: true,
				margin: 10,
				responsiveClass: true,
				responsive: {
					0: {
						items: 1,
						nav: true
					},
					600: {
						items: 2,
						nav: false
					},
					1000: {
						items: 3,
						nav: true,
						loop: false,
						margin: 20
					}
				}
			})
		})
	</script>
	
	<!-- //carousel(for feedback) -->
<!-- stats -->
	<script src="/static/web/js/jquery.waypoints.min.js"></script>
	<script src="/static/web/js/jquery.countup.js"></script>
		<script>
			$('.counter').countUp();
		</script>
<!-- //stats -->

    <!-- start-smooth-scrolling -->
    <script src="/static/web/js/move-top.js"></script>
    <script src="/static/web/js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script>
        $(document).ready(function () {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear' 
            };
            */

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <script src="/static/web/js/SmoothScroll.min.js"></script>
    <!-- //smooth-scrolling-of-move-up -->
    <!-- Bootstrap core JavaScript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/web/js/bootstrap.js"></script>
</body>
</html>